@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans.eot');
	src: local('Open Sans'), local('OpenSans'),
		url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans.woff2') format('woff2'),
		url('../fonts/OpenSans.woff') format('woff'),
		url('../fonts/OpenSans.ttf') format('truetype'),
		url('../fonts/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('hinted-OpenSans-Extrabold.eot');
	src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'),
		url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Extrabold.woff2') format('woff2'),
		url('../fonts/OpenSans-Extrabold.woff') format('woff'),
		url('../fonts/OpenSans-Extrabold.ttf') format('truetype'),
		url('../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
	font-weight: 800;
	font-style: normal;
}

html {
	background: url(../img/bg.jpg) no-repeat center 0 fixed;
}

html,
body,
.wrapper {
	width: 100%;
	height: 100%;
	font-family: 'League Gothic', Arial;
	box-sizing: border-box;
	
}

.viewport {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: column;
}

header {
	width: 100%;
	max-width: 960px;
	padding-top: 70px;
	margin: 0 auto;
	text-shadow: 0 2px 2px #a7969a;
	  -o-text-shadow: 0 2px 2px #a7969a;
	  -moz-text-shadow: 0 2px 2px #a7969a;
	  -ms-text-shadow: 0 2px 2px #a7969a;
	  -webkit-text-shadow: 0 2px 2px #a7969a;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-link {
	text-decoration: none;
	color: white;
}

.logo {
	font-size: 48px;
	display: flex;
}

.logo--violet {
	color: #5e426b;
	text-shadow: none;
	  -o-text-shadow: none;
	  -moz-text-shadow: none;
	  -ms-text-shadow: none;
	  -webkit-text-shadow: none;
}

nav {
	width: 100%;
}

#toggle {
	display: none;
}

.nav-button {
	display: none;
}

.head-menu {
	width: 100%;
	text-align: right;
}

.head-menu-items {
	font-size: 24px;
	float: left;
	margin-left: 8%;
	color: white;
}

.head-links {
	color: white;
	text-decoration: none;
}

.head-links:hover {
	box-sizing: border-box;
	border-bottom: 2px solid #edbfff;
}

.slider {
	clear: both;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 400px;
	margin-top: 160px;
	margin-bottom: 93px;
	background: rgba(0, 0, 0, 0.2);
}

.slider-container {
	max-width: 960px;
	margin: 0 auto;
}

.slider-block {
	width: 55%;
	min-height: 190px;
	margin-top: 90px;
	display: inline-block;
	float: left;
}

.slider-h1 {
	font-size: 60px;
	color: white;
	text-shadow: 0px 1px 2px #000;
	  -o-text-shadow: 0px 1px 2px #000;
	  -moz-text-shadow: 0px 1px 2px #000;
	  -ms-text-shadow: 0px 1px 2px #000;
	  -webkit-text-shadow: 0px 1px 2px #000;
}

.slider-h2 {
	font-size: 32px;
	color: #edbfff;
	text-shadow: 0px 1px 2px #000;
	  -o-text-shadow: 0px 1px 2px #000;
	  -moz-text-shadow: 0px 1px 2px #000;
	  -ms-text-shadow: 0px 1px 2px #000;
	  -webkit-text-shadow: 0px 1px 2px #000;
}

.main-text {
	width: 100%;
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: justify;
	overflow: hidden;
	text-overflow: clip;
}

.main-text--slider {
	color: white;
	text-shadow: 0px 1px 1px #000;
	  -o-text-shadow: 0px 1px 1px #000;
	  -moz-text-shadow: 0px 1px 1px #000;
	  -ms-text-shadow: 0px 1px 1px #000;
	  -webkit-text-shadow: 0px 1px 1px #000;
}

.slider-img {
	width: 274px;
	height: 435px;
	margin-top: -15px;
	margin-right: 8%;
	background: url(../img/iphone-2.png) no-repeat;
	float: right;
}

.slider-list {
	clear: both;
	text-align: right;
	margin-right: 15%;
}

input[type="radio"] {
	display: none;
}


.slider-button {
	display: inline-block;
	margin-top: 73px;
}

.slider-button:before {
	content: "";
	display: inline-block;
	background-image: url(../img/radio-button.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 17px;
	height: 17px;
	margin-left: 5px;
	cursor: pointer;
}

input[type="radio"]:checked + .slider-button:before {
	content: "";
	background-position: -18px 0;
}

.columns {
	width: 100%;
	margin-top: 168px;
	display: flex;
	justify-content: center;
	background: linear-gradient(#745083, #322539);
	  -o-background: linear-gradient(#745083, #322539);
	  -moz-background: linear-gradient(#745083, #322539);
	  -ms-background: linear-gradient(#745083, #322539);
	  -webkit-background: linear-gradient(#745083, #322539);
	border-top: 1px solid #33253a;
	border-bottom: 2px solid #1d2f37, #0d151b;
	box-sizing: border-box;
}

.columns-block {
	padding-top: 80px;
	padding-bottom: 70px;
	width: 960px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.column1,
.column2,
.column3 {
	width: 29%;
	color: white;
	display: inline-block;
}

.column1:before,
.column2:before,
.column3:before {
	content: "";
	display: inline-block;
	background: url(../img/icons.png) no-repeat;
	width: 28px;
	height: 28px;
	position: absolute;
	margin-top: 10px;
}

.column1:before {
	background-position: 0px -100px;
}

.column2:before {
	background-position: -28px -100px;
	width: 33px;
}

.column3:before {
	background-position: -61px -100px;
}

.column-h {
	font-size: 30px;
	text-shadow: 1px 1px 2px #000;
	font-weight: 300;
	padding-left: 50px;
}

.column-text {
	font-family: "Open Sans";
	font-weight: 200;
	margin-top: 5px;
	line-height: 24px;
	text-shadow: 1px 1px 1px #000;
	  -o-text-shadow: 1px 1px 1px #000;
	  -moz-text-shadow: 1px 1px 1px #000;
	  -ms-text-shadow: 1px 1px 1px #000;
	  -webkit-text-shadow: 1px 1px 1px #000;
	padding-left: 50px;
}

.column-link {
	display: block;
	font-size: 18px;
	text-align: right;
	cursor: pointer;
	font-weight: 200;
	text-shadow: 2px 1px 1px #000;
	  -o-text-shadow: 2px 1px 1px #000;
	  -moz-text-shadow: 2px 1px 1px #000;
	  -ms-text-shadow: 2px 1px 1px #000;
	  -webkit-text-shadow: 2px 1px 1px #000;
}

.column-link:hover {
	text-shadow: 0 0 3px white;
	  -o-text-shadow: 0 0 3px white;
	  -moz-text-shadow: 0 0 3px white;
	  -ms-text-shadow: 0 0 3px white;
	  -webkit-text-shadow: 0 0 3px white;
}

.blog {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 55px;
	background-color: #f9f9f9;
	display: flex;
	justify-content: center;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #e6e6e6;
}

.blog-container {
	width: 100%;
	height: 100%;
	max-width: 960px;
	display: flex;
	justify-content: space-between;
	/*padding-right: 35px;*/
}

.blog-post-radio {
	width: 48%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-flow: column;
	box-sizing: border-box;
}

.blog-post {
	width: 100%;
	padding: 30px 40px;
	background-color: #fff;
	margin-left: 25px;
	border: 2px solid #f6f6f6;
	border-top: none;
	box-sizing: border-box;
	margin-bottom: 23px;
}

.blog-link {
	text-decoration: none;
	cursor: pointer;
}

.blog-h {
	display: flex;
	flex-flow: row;
	width: 100%;
	font-size: 30px;
	font-weight: 100;
	color: #454545;
	text-shadow: -1px -1px 1px #d8d8d8;
	  -o-text-shadow: -1px -1px 1px #d8d8d8;
	  -moz-text-shadow: -1px -1px 1px #d8d8d8;
	  -ms-text-shadow: -1px -1px 1px #d8d8d8;
	  -webkit-text-shadow: -1px -1px 1px #d8d8d8;
}

.blog-h-img:before {
	content: "";
	display: inline-block;
	background: url(../img/icons.png) -48px -48px no-repeat;
	width: 48px;
	height: 48px;
	position: absolute;
	margin-left: -64px;
	margin-top: -15px;
}

.pink {
	margin-left: 5px;
	height: 30px;
	color: #edbfff;
	text-shadow: none;
	  -o-text-shadow: none;
	  -moz-text-shadow: none;
	  -ms-text-shadow: none;
	  -webkit-text-shadow: none;
}

.main-text--blog {
	height: 165px;
	color: #454545;
	margin-top: 15px;
}

.blog-button {
	text-align: center;
	display: inline-block;
}

.blog-button:before {
	content: "";
	display: inline-block;
	background: url(../img/radio-button.png) 0px -18px no-repeat;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	cursor: pointer;
}

input[type="radio"]:checked + .blog-button:before {
	background-position: -23px -18px;
} 

.blog-updates {
	width: 48%;
	height: 300px;
	overflow: hidden;
	text-overflow: clip;
	margin-left: 3%;
	padding: 30px 10px 0px 0px;
	display: flex;
	flex-flow: column;
}

.update {
	font-family: "Open Sans";
	font-size: 16px;
	display: inline-block;
	position: relative;
	padding-left: 65px;
	margin-top: 23px;
	line-height: 24px;
}

.update:before {
	content: "";
	background-image: url(../img/icons.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	position: absolute;
	margin-left: -65px;
	display: block;
	vertical-align: middle;
}

.update-2:before {
	background-position: 0 -50px;
}

.update-3:before {
	background-position: -49px 0;
}

.update-h {
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.column-link--update {
	color: #454545;
	margin-top: 20px;
	text-shadow: none;
	  -o-text-shadow: none;
	  -moz-text-shadow: none;
	  -ms-text-shadow: none;
	  -webkit-text-shadow: none;
	text-decoration: none;
}

.column-link--update:hover {
	text-shadow: none;
	  -o-text-shadow: none;
	  -moz-text-shadow: none;
	  -ms-text-shadow: none;
	  -webkit-text-shadow: none;
	text-decoration: underline;
}

.blog--brands {
	padding: 0;
	border-bottom: 1px solid #fefefe;
	display: flex;
	justify-content: center;
}

.brands {
	width: 100%;
	max-width: 960px;
	display: flex;
	justify-content: space-around;
	padding: 20px 4% 35px 4%;
	padding-top: 25px;
	padding-bottom: 30px;
	box-sizing: border-box;
}

.brand-link {
	display: block;
	cursor: pointer;
}

.brand {
	background-image: url(../img/brands.png);
	background-repeat: no-repeat;
	height: 65px;
}
.brand-1 {
	width: 69px;
	background-position: 0 0;
}

.brand-2 {
	width: 72px;
	background-position: -70px 0;
}

.brand-3 {
	width: 65px;
	background-position: -143px 0;
}

.brand-4 {
	width: 50px;
	background-position: -209px 0;
}

.brand-5 {
	width: 103px;
	background-position: -260px 0;
}

.brand-6 {
	width: 78px;
	background-position: -364px 0;
}

.blog--pingbuller {
	padding-bottom: 90px;
	border-top: 1px solid #e6e6e6;
	background-color: #ececec;
	box-shadow: 0 3px 3px #504f57;
	  -o-box-shadow: 0 3px 3px #504f57;
	  -moz-box-shadow: 0 3px 3px #504f57;
	  -ms-box-shadow: 0 3px 3px #504f57;
	  -webkit-box-shadow: 0 3px 3px #504f57;
}

.pingbuller {
	width: 100%;
	max-width: 960px;
	display: flex;
	justify-content: space-between;
}

.pingbuller-column {
	width: 30%;
	height: 200px;
	overflow: hidden;
}

.pingbuller-column--768px {
	display: none;
}

.logo-link--blog {
	color: #454545;
	text-shadow: -1px 1px 1px #fff;
	display: block;
	margin-bottom: 22px;
}

.logo--grey {
	color: #b9b9b9;
}

.copyright {
	font-family: Georgia;
	font-style: italic;
	font-size: 16px;
	color: #c5c5c5;
	text-shadow: 1px 1px 1px #fff;
	  -o-text-shadow: 1px 1px 1px #fff;
	  -moz-text-shadow: 1px 1px 1px #fff;
	  -ms-text-shadow: 1px 1px 1px #fff;
	  -webkit-text-shadow: 1px 1px 1px #fff;
	display: block;
	margin-bottom: 14px;
}

.main-text--pingbuller {
	color: #787878;
	text-align: left;
	text-shadow: 1px 1px 1px #fff;
	  -o-text-shadow: 1px 1px 1px #fff;
	  -moz-text-shadow: 1px 1px 1px #fff;
	  -ms-text-shadow: 1px 1px 1px #fff;
	  -webkit-text-shadow: 1px 1px 1px #fff;
}

footer {
	width: 100%;
	height: 115px;
	background: url(../img/bg-footer.jpg) center center no-repeat;
	display: flex;
	justify-content: center;
}

.footer-container {
	width: 100%;
	max-width: 960px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.head-menu--footer {
	display: flex;
	margin: auto 0;
	width: 70%;
}

.head-menu-items--footer {
	font-size: 20px;
	margin-left: 0;
	margin-right: 5%;
	filter: none;
	text-shadow: 1px 1px 2px #000;
	  -o-text-shadow: 1px 1px 2px #000;
	  -moz-text-shadow: 1px 1px 2px #000;
	  -ms-text-shadow: 1px 1px 2px #000;
	  -webkit-text-shadow: 1px 1px 2px #000;
}

.designed {
	font-family: "Open Sans", Arial;
	font-size: 12px;
	text-shadow: 0 1px 2px #000;
	  -o-text-shadow: 0 1px 2px #000;
	  -moz-text-shadow: 0 1px 2px #000;
	  -ms-text-shadow: 0 1px 2px #000;
	  -webkit-text-shadow: 0 1px 2px #000;
}

.bold {
	font-weight: 800;
}