html {
	background: url(../img/background.jpg) no-repeat center center fixed;
	background-size: cover;
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url('../fonts/HelveticaNeueLTStd Lt.woff') format('woff');
	src: url('../fonts/HelveticaNeueLTStd Lt.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0px;
	font-family: 'Helvetica Neue Light', Tahoma, sans-serif;
	font-size: 14px;
	width: 100vw;
	height: 100vh;
	min-width: 730px; 
	min-height: 650px;
	}

.header {
	display: inline-flex;
	justify-content: flex-end;
	height: 35px;
	width: 100vw;
	align-items: center;
	line-height: 35px;
	background-color: #074f8f;
}

.head-menu {
	margin: 0px;

}

.head-menu li {
	display: inline-block;
	width: 70px;
}

.head-menu li:first-child {
	width: 80px;
}

.head-menu li:last-child {
	border-right: 1px solid #56a2dc;
}

.head-menu li a {
	text-decoration: none;
	text-align: center;
	display: block;
	color: #60b5ed;
}

.head-menu li a:hover {
	display: block;
	color: white;
	background: #4eabda;
}

.sign-up-button a {
	display: block;
	text-decoration: none;
	color: white;
	width: 190px;
	text-align: center;
	background: linear-gradient(to bottom, #51b1dc, #2e7ac4);
	border: 1px solid linear-gradient(to bottom, #64a8e3, #4299d2);
	border-top: none;
	margin-right: 10px;
}

.rules-button a {
	text-decoration: none;
	color: white;
	display: block;
	width: 160px;
	height: 35px;
	line-height: 35px;
	text-align: center;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 95vh;
}

.reg-block {
	width: 450px;
	height: 590px;
	min-width: 386px;
	background-color: rgba(0, 0, 0, 0.63);
	margin: auto;
	text-align: center;
}

.reg-block .header-name {
	font-size: 140%;
	color: white;
	line-height: 3rem;
	font-weight: 200;
	border-bottom: 1px solid #c6cebf;
}

.fb-button {
	margin-top: 30px;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	width: 250px;
	height: 35px;	
	background: linear-gradient(to bottom, #3d5794, #2f4171);
	border-radius: 4px;
	border-top: 1px solid #768abc;
	border-bottom: 1px solid #344066;
	color: white;
	cursor: pointer;
	font-size: 110%;
}

.fa {
	width: 35px;
	height: 35px;
}

.fb-button i {
	border-right: 1px solid #1f3c76;
	align-self: center;
	display: block;
	line-height: 35px;
	font-size: 130%;
}

.log-in {
	width: 215px;
	height: 35px;
	line-height: 35px;
	border-left: 1px solid #4d68ab;
	width: 240px;
}

.ou {
	overflow: hidden;
	display: block;
	width: 250px;
	margin: 20px auto;
	text-align: center;
	font-size: 105%;
	color: #999;
}

.ou:before,
.ou:after {
	content: "";
	display: inline-block;
	width: 250px;
	height: 2px;
	background: linear-gradient(to bottom, #999, #000);
	vertical-align: middle;
	position: relative;
}

.ou:before {
	margin-left: -100%;
	left: -6px;
}

.ou:after {
	margin-right: -100%;
	right: -6px;
}

#f-name,
#l-name,
#email,
#password {
	box-sizing: border-box;
	width: 250px;
	height: 35px;
	color: #ccc;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	background: #0f0f0f !important;
	outline: none;
	border: none;
	border-bottom: 1px solid #484948;
	margin: 10px auto;
	text-indent: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
	background: radial-gradient(#1b5288, #1e4b76) !important; /*rgb(27,82,136)*/
	color: #ccc;
	border-bottom: 1px solid #689bcd;
	box-shadow: 0px 0px 4px 3px rgba(104,155,204,0.67);
} 

label {
	display: block;
	color: #ccc;
	margin: 10px auto;
}

#submit {
	cursor: pointer;
	text-align: center;
	color: white;
	height: 35px;
	line-height: 30px;
	width: 150px;
	background: linear-gradient(to bottom, #50aedb, #2e7ac4);
	border-radius: 4px;
	border-top: 1px solid #6bb8e7;
	border-right: 1px solid #55a1dc;
	border-left: 1px solid #55a1dc;
	border-bottom: 1px solid #3686ca;
	margin: 10px auto;
}

.warning {
	color: #c5c5c4;
	font-size: 80%;
	width: 250px;
	margin: 10px auto;
}