<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/tmpl.js"></script>
    <script type="text/javascript" src="js/carousel.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <link rel="stylesheet" href="styles/css/reset.css">
    <link rel="stylesheet" href="styles/css/font-awesome.css">
    <link rel="stylesheet" href="styles/css/style.css">
    <title>Build Home page</title>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <a class="header__logo" href="">
          <img src="img/logo.png" alt="" class="header__logo__img">
          <div class="header__logo__text">
            <p class="header__logo__text-1">Build Home</p>
            <p class="header__logo__text-2">industrial theme</p>
          </div>
        </a>

        <div class="header__links">
          <a href="" class="header__link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="" class="header__link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="" class="header__link"><i class="fa fa-rss" aria-hidden="true"></i></a>
          <a href="" class="header__link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a href="" class="header__link"><i class="fa fa-skype" aria-hidden="true"></i></a>
        </div>
      </header>

      <nav>
        <ul class="nav__menu">
          <li class="nav__menu__item"><a href="" class="nav__menu__link  nav__menu__link--blue">Home</a></li>
          <li class="nav__menu__item"><a href="" class="nav__menu__link">Features</a></li>
          <li class="nav__menu__item"><a href="" class="nav__menu__link">Services</a></li>
          <li class="nav__menu__item"><a href="" class="nav__menu__link">News</a></li>
          <li class="nav__menu__item"><a href="" class="nav__menu__link">Shop</a></li>
          <li class="nav__menu__search">
            <form class="">
              <input type="text" name="name" value="" placeholder="Search...">
              <label>
                <i class="fa fa-search" aria-hidden="true">
                  <input type="submit" name="name" value="">
                </i>
              </label>
            </form>
          </li>
        </ul>
      </nav>

      <div class="slider">
        <ul class="slider__container">
          <li class="slider__container__item" id="slider__item-1">
            <img src="img/main-img-1.jpg" alt="" />
            <p class="slider__text">
              <span class="slider__text__yellow">Build</span>
                <br>
                Your
                <br>
                business
              </p>
            </p>
          </li>
          <li class="slider__container__item" id="slider__item-2"><img src="img/main-img-2.jpg" alt="" /></li>
          <li class="slider__container__item" id="slider__item-3"><img src="img/main-img-3.jpg" alt="" /></li>
          <li class="slider__container__item" id="slider__item-4"><img src="img/main-img-4.jpg" alt="" /></li>
        </ul>

        <ul class="slider__buttons">
          <li class="slider__button"><a href="" class="slider__button__link" id="slider__link-1"></a></li>
          <li class="slider__button"><a href="" class="slider__button__link" id="slider__link-2"></a></li>
          <li class="slider__button"><a href="" class="slider__button__link" id="slider__link-3"></a></li>
          <li class="slider__button"><a href="" class="slider__button__link" id="slider__link-4"></a></li>
        </ul>
      </div>

      <div class="resources">
        <article class="resources__offer">
          <p class="resources__offer__num">01</p>
          <div class="resources__offer__block">
            <div class="resources__offer__block__icon resources__offer__icon-1"></div>
            <h4 class="resources__offer__block__h4">Power Inside</h4>
            <p class="resources__offer__block__text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
            <a href="" class="resources__offer__block__link">Read More</a>
          </div>
        </article>

        <article class="resources__offer">
          <p class="resources__offer__num">02</p>
          <div class="resources__offer__block">
            <div class="resources__offer__block__icon resources__offer__icon-2"></div>
            <h4 class="resources__offer__block__h4">New Technologies</h4>
            <p class="resources__offer__block__text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="" class="resources__offer__block__link">Read More</a>
          </div>
        </article>

        <article class="resources__offer resources__offer--3">
          <p class="resources__offer__num">03</p>
          <div class="resources__offer__block">
            <div class="resources__offer__block__icon resources__offer__icon-3"></div>
            <h4 class="resources__offer__block__h4">Fast Support</h4>
            <p class="resources__offer__block__text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="" class="resources__offer__block__link">Read More</a>
          </div>
        </article>
      </div>
    </div>

    <div class="services">
      <div class="services__container">
        <h4 class="services__container__h4">Our services</h4>
        <div class="services__container__block">
          <a href="" class="services__container__link">
            <div class="services__container__link__block">
              <p class="services__link__block__blue">+</p>
            </div>
            Schedule Services
          </a>
        </div>

        <div class="services__container__block">
          <a href="" class="services__container__link">
            <div class="services__container__link__block services__container__link__block-2">
              <p class="services__link__block__blue">+</p>
            </div>
            Preventive Maintence
          </a>
        </div>

        <div class="services__container__block">
          <a href="" class="services__container__link">
            <div class="services__container__link__block services__container__link__block-3">
              <p class="services__link__block__blue">+</p>
            </div>
            Tire & Wheel Services
          </a>
        </div>

        <div class="services__container__block services__container__block-4">
          <a href="" class="services__container__link">
            <div class="services__container__link__block services__container__link__block-4">
              <p class="services__link__block__blue">+</p>
            </div>
            Repair Services
          </a>
        </div>
      </div>
    </div>

    <div class="blog">
      <div class="blog__container">
        <div class="blog__container__news">
          <h4 class="blog__container__h4">Latest News</h4>

          <script type="text/template" id="news">
            <% for ( var i = 0; i < data.length; i++ ) { %>
              <div class="blog__container__news__block">
                <img src="<%= data[i].image %>" alt="" class="blog__container__news__img">
                <div class="blog__container__news__date">
                  <p class="blog__container__news__month"><%= data[i].month %></p>
                  <p class="blog__container__news__day"><%= data[i].day %></p>
                </div>
                <div class="blog__container__news__content">
                  <a href="" class="blog__container__news__head">
                    <h5 class="blog__container__news__h5"><%= data[i].header %></h5>
                  </a>
                  <p class="blog__container__news__p blog__container__news__by">by <a href="" class="blog__container__news__link"><%= data[i].author %></a></p>
                  <p class="blog__container__news__p">Comments(<a href="" class="blog__container__news__link"><%= data[i].comments %></a>)</p>
                  <p class="blog__container__news__text"><%= data[i].text %></p>
                </div>
              </div>
            <% }; %>
          </script>
        </div>

        <div class="blog__container__panels">
          <h4 class="blog__container__h4">Banners Place</h4>
          <div class="blog__container__panels__block blog_container__panel-1">
            <input type="radio" name="panel" id="panel-1" checked="">
            <label for="panel-1" class="blog__container__panels__link blog__container__panel__link-1">
              Accordion panel 1
            </label>
            <p class="blog__container__panel__text blog__container__panel__text-1">
              Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam
            </p>
          </div>

          <div class="blog__container__panels__block blog_container__panel-2">
            <input type="radio" name="panel" id="panel-2">
            <label for="panel-2" class="blog__container__panels__link blog__container__panel__link-2">
              Accordion panel 2
            </label>
            <p class="blog__container__panel__text blog__container__panel__text-2">
              Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam
            </p>
          </div>

          <div class="blog__container__panels__block blog_container__panel-3">
            <input type="radio" name="panel" id="panel-3">
            <label for="panel-3" class="blog__container__panels__link blog__container__panel__link-3">
              Accordion panel 3
            </label>
            <p class="blog__container__panel__text blog__container__panel__text-3">
              Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam
            </p>
          </div>

          <div class="blog__container__panels__block blog_container__panel-4">
            <input type="radio" name="panel" id="panel-4">
            <label for="panel-4" class="blog__container__panels__link blog__container__panel__link-4">
              Accordion panel 4
            </label>
            <p class="blog__container__panel__text blog__container__panel__text-4">
              Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam
            </p>
          </div>

        </div>

      </div>
    </div>

    <div class="brands">
      <div class="brands__container">
        <a href="" class="brands__container__link"></a>
        <a href="" class="brands__container__link brands__container__link-2"></a>
        <a href="" class="brands__container__link brands__container__link-3"></a>
        <a href="" class="brands__container__link brands__container__link-4"></a>
        <a href="" class="brands__container__link brands__container__link-5"></a>
        <a href="" class="brands__container__link brands__container__link-6"></a>
      </div>
    </div>

    <footer>
      <div class="footer__container">
        <ul class="footer__container__list">
          <h4 class="footer__container__list__title">Socials</h4>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Facebook</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Flickr</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Twitter</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Vimeo</a>
          </li>
        </ul>

        <ul class="footer__container__list">
          <h4 class="footer__container__list__title">Links</h4>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">How to Write a Blog</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Create a Blog in 4 Steps</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">15 Tips to Increase Traffic</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">20 Blog Post Ideas</a>
          </li>
        </ul>

        <ul class="footer__container__list">
          <h4 class="footer__container__list__title">Blogroll</h4>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Blogs Blog</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Roll Up Roll Up</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Blog Free</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Wordpress Blog</a>
          </li>
        </ul>

        <ul class="footer__container__list">
          <h4 class="footer__container__list__title">About us</h4>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Agriculture</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Harvest</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Company news</a>
          </li>
          <li class="footer__container__list__item">
            <a href="" class="footer__container__list__link">Investor relations</a>
          </li>
        </ul>
      </div>

      <div class="footer__line">
        <div class="footer__line__container">
          <ul>
            <li class="footer__line__container__item footer__line__container__item-1">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              BuildHomeLtd.  Street Name 123   23 45 Cityname
            </li>
            <li class="footer__line__container__item footer__line__container__item-2">
              <i class="fa fa-mobile" aria-hidden="true"></i>
              +123 900 123 456
            </li>
            <li class="footer__line__container__item footer__line__container__item-3">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              info@buildhome.web
            </li>
          </ul>
          <p class="footer__line__container__item footer__line__container__item-4">
            &copy; 2014 Build Home
          </p>
        </div>
      </div>


    </footer>
  </body>
</html>
