@font-face {
    font-family: 'Ubuntu Medium';
    src: url('../../fonts/ubuntu-medium-webfont.eot');
    src: url('../../fonts/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../../fonts/ubuntu-medium-webfont.woff') format('woff'),
         url('../../fonts/ubuntu-medium-webfont.svg#montserratbold') format('svg');
    src: url('../../fonts/ubuntu-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
