// COLORS
$white: #fff;
$pink: #ff4e50;
$green: #1cd7ad;
$yellow: #ffa507;
$blue: #4e73db;

// TEXT COLORS
$light-grey: #a7a7a7;
$dark-grey: #333333;
$grey: #666666;

// COLOR VARIABLES
$theme-color: $pink;
$pic-p-color: $light-grey;
$main-text-color: $dark-grey;
$p-color: $grey;

// FONTS LIST
$main-font: 'Montserrat Bold';
$main-reg-font: 'Montserrat Regular';
$p-font: 'Roboto Light';
