<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="U-Report — це онлайн-опитування молоді на важливі теми, для створення підгрунтя для всеукраїнских змін.")
        meta(name="keywords" content="юрепорт, юрепортери, молодь, онлайн-опитування, зміни в україні, точка зору")
        meta(name="viewport" content="width=device-width, initial-scale=1 user-scalable=0")
        title About | U-Report
        link(rel="stylesheet" href="css/style.css")
        script(src="js/jquery-3.2.1.min.js")
        script(src="js/jquery.fullpage.extensions.min.js")
        script(src="js/jquery.mask.min.js")
        script(src="js/script.js")

    body
        .pop-up-more
            .left-part
                .project
                    p Спецпроект U-Report
                    p
                        b Куратор: Микола Давидюк
                a.more-info(href="#") Дізнатися
            button.right-part
                div
                div
        main
            section.first-section.yellow
                .section-dots.section-1-dots(data-parallax-element)
                .section-container.section-block
                    .unisef-logo
                    .first-section-container
                        .u-report-logo
                            img(src="img/u-logo.png")
                        .graphics
                            .plus
                            .line
                        .text-wrap
                            p U-Report — міжнародний молодіжний проект Дитячого фонду ООН (ЮНІСЕФ), який шляхом безкоштовного SMS- та онлайн-опитування з’ясовує ставлення молоді до різних аспектів суспільного життя. Збір та аналіз відповідей на різні теми — підґрунтя для всеукраїнських змін завдяки молоді.
                    .mouse
                        .wheel
                .img-wrap
                    img(src="img/rounded-img.jpg")
            section.video-section.second-section.yellow
                .section-container
                    .video-single
                      .videos-top
                        .video-wrap(data-hash='', data-video="1" data-id='pt9wnawn7xQ', data-width='', data-height='')
                          #video-1
                          .video-mask(style='background: url(http://img.youtube.com/vi/pt9wnawn7xQ/0.jpg); opacity: 1;')
                          .progress-bar
                            .progress
                              .progress-tooltip
                                .tooltip-body
                                  span.time 0:00
                          .state-controls
                            .play(onclick="ga('send', 'event', 'Play_video_1', 'Click');")
                            .pause
                          .screen-controls
                            .open-fullscreen
                              img(src='img/Player/fullscreenopen.svg')
                            .close-fullscreen
                              img(src='img/Player/fullscreenclose.svg')

                    //- img(src="img/video-img.jpg")
            section.third-section
                .left-part
                    .amount-block
                        .amount-container
                            div
                                h1 32 380
                                p українців долучилися до проекту за 1-й рік
                            div
                                h1 35
                                p країн світу &#8211; 3&nbsp;241&nbsp;535 U-репортерів
                    .be-reporter
                        img(src="img/stars-photos.png")
                        .text-wrap
                            h1 Ставай <br> U-репортером
                            p долучайся до світової команди, в якій Девід Бекхем, Орландо Блум та Юен МакГрегор, Посли доброї волі ООН (ЮНІСЕФ)
                .right-part
                    .right-part-container
                        h1 Опитування U-Report
                        .row
                            .row-item
                                div.first
                                p
                                    b Анонімні
                                p відповіді не прив‘язуються <br> до мобільного номера <br> чи профіля U-репортера <br> у соцмережах
                            .row-item
                                div.second
                                p
                                    b Безкоштовні
                                p респонденти не <br> витрачають свої <br> кошти на <br> відправку SMS
                        .row
                            .row-item
                                div.third
                                p
                                    b Відкриті
                                p враховується <br> кожна відкрита <br> відповідь
                            .row-item
                                .div.fourth
                                p
                                    b Швидкі
                                p результати <br> опитування відомі <br> вже за кілька годин
            section.video-section.fourth-section.yellow
                .section-container
                    .video-single
                      .videos-top
                        .video-wrap(data-hash='', data-video="2" data-id='lVaOwozE-uA', data-width='', data-height='')
                          #video-2
                          .video-mask(style='background: url("http://img.youtube.com/vi/lVaOwozE-uA/0.jpg"); opacity: 1;')
                          .progress-bar
                            .progress
                              .progress-tooltip
                                .tooltip-body
                                  span.time 0:00
                          .state-controls
                            .play(onclick="ga('send', 'event', 'Play_video_2', 'Click');")
                            .pause
                          .screen-controls
                            .open-fullscreen
                              img(src='img/Player/fullscreenopen.svg')
                            .close-fullscreen
                              img(src='img/Player/fullscreenclose.svg')
            section.fifth-section
                .section-dots.section-5-dots(data-parallax-element)
                .section-container.fifth-section-container
                    .fifth-section-wrapper
                        .left-part
                            .graphics
                                .plus
                                .line
                            h1 Щотижня ти висловлюватимеш свою точку зору у рамках опитування на одну із тем:
                        .right-part
                            .block
                                h4 Толерантність
                                .block-img
                            .block
                                h4 Освіта
                                .block-img
                            .block
                                h4 Спосіб життя
                                .block-img
                            .block
                                h4 Соціальна активність
                                .block-img
                            .block
                                h4 Гендерні <br> питання
                                .block-img
                            .block
                                h4 Робота
                                .block-img
                            .block
                                h4 Здоров'я
                                .block-img
                            .block
                                h4 та інше
            section.sixth-section.yellow
                .section-container.sixth-section-container
                    .section-item
                        .img-wrap(style="background-image: url('img/1.png')")
                        a.section-item-link(href="#" onclick="ga('send', 'event', 'Look_workshops', 'Click');")
                            .top-part
                                p Ми допоможемо <br> тобі навчитись <br> висловлювати <br> свою точку зору
                            .bottom-part
                                div.arrow
                                p.static-text Дивитись воркшопи
                                p.hover-text tochky.ureport.in
                    .section-item
                        .img-wrap(style="background-image: url('img/2.png')")
                        a.section-item-link(href="#" onclick="ga('send', 'event', 'More_news', 'Click');")
                            .top-part
                                p Ми триматимемо тебе у курсі, як завдяки опитуванням думка молоді враховується у прийнятті державних рішень, що її стосуються
                            .bottom-part
                                div.arrow
                                p.static-text Дізнатися новини проекту
                                p.hover-text ukraine.ureport.in
                    .section-item
                        .img-wrap(style="background-image: url('img/3.png')")
                        a.section-item-link(href="#" onclick="ga('send', 'event', 'Facebook', 'Click');")
                            .top-part
                                p Ми познайомимо <br> тебе із іншими <br> Ю-репортерами
                            .bottom-part
                                div.arrow
                                p.static-text Познайомитися з <br> Ю-репортерами
                                p.hover-text facebook.com/ureportukraine
            section.seventh-section.yellow
                .section-container.seventh-section-container
                    .parts-container
                        .left-part
                            .top-part
                                h1 Реєструйся у U-Report
                                h3 Обери, в який спосіб <br> тобі було б зручніше:
                                h4 Опитування через SMS*
                                .forms
                                    .form-registration.visible
                                        form.regist-row(method="POST")
                                            input(type="tel" placeholder="+380 (xx) xxx xx xx")
                                            button(type="submit" data-value="Підтвердити" onclick="ga('send', 'event', 'Confirm', 'Click');") Підтвердити
                                        .text-wrap
                                            p На цей номер буде надіслано код доступу в SMS
                                        form.code-row(method="POST")
                                            input(type="text" placeholder="xx    xx")
                                            button(type="submit" data-value="OK") OK
                                        .text-wrap
                                            p Код доступу
                                    form.form-select(action="#" method="POST")
                                        .selection
                                            select#choose-region(name="region" required)
                                                option(value="") Область проживання
                                                option(value="Crimea") Автономна Республіка Крим
                                                option(value="Vinnytsya") Вінницька область
                                                option(value="Volyn") Волинська область
                                                option(value="Dnipro") Дніпропетровська область
                                                option(value="Donetsk") Донецька область
                                                option(value="Zhitomyr") Житомирська область
                                                option(value="Zakarpattya") Закарпатська область
                                                option(value="Zaporizhzhya") Запорізька область
                                                option(value="Ivano-Frankivsk") Івано-Франківська область
                                                option(value="Kyiv region") Київська область
                                                option(value="Kyrovograd") Кирвоградська область
                                                option(value="Luhansk") Луганська область
                                                option(value="Lviv") Львівська область
                                                option(value="Mykolayiv") Миколаївська область
                                                option(value="Odessa") Одеська область
                                                option(value="Poltava") Полтавська область
                                                option(value="Rivne") Рівненьска область
                                                option(value="Sumy") Сумська область
                                                option(value="Ternopil") Тернопільска область
                                                option(value="Harkiv") Харківська область
                                                option(value="Kherson") Херсонська область
                                                option(value="Khmelnytskyi") Хмельницька область
                                                option(value="Cherkasy") Черкаська область
                                                option(value="Chernivtsi") Чернівецька область
                                                option(value="Chernihiv") Чернігівська область
                                                option(value="Kyiv city") м. Київ
                                                option(value="Sevastopol") м. Севастополь
                                        .row
                                            .selection
                                                select#age(name="age" required)
                                                    option(value="") Твій вік
                                                    option(value="15") 15
                                                    option(value="16") 16
                                                    option(value="17") 17
                                                    option(value="18") 18
                                                    option(value="19") 19
                                                    option(value="20") 20
                                                    option(value="21") 21
                                                    option(value="22") 22
                                                    option(value="23") 23
                                                    option(value="24") 24
                                                    option(value="25") 25
                                            .selection
                                                select#sex(name="sex" required)
                                                    option(value="") Твоя стать
                                                    option(value="male") Чоловіча
                                                    option(value="female") Жіноча
                                        button(type="submit" data-value="Підтвердити" onclick="ga('send', 'event', 'Confirm', 'Click');") Підтвердити

                                .agree-block
                                    p *Реєструючись за допомогою сайту у U-Report, ви даєте згоду на обробку персональних даних (мобільного номеру телефону), виключно для взаємодії в U-Report, що проводиться Представництвом Дитячого фонду ООН (ЮНІСЕФ) в Україні. Вартість відправлення SMS — повідомлення на номер 4224 є безкоштовною для абонентів мережі ПрАТ “Київстар”, ПрАТ "МТС Україна" (Vodafone) і ТОВ “Астеліт” (Lifecell). Маєш запитання? Звертайся: UreportTochky@gmail.com
                            .landing-thanksbox.is-hidden
                                h2.landing-thanksbox__head Вітаємо з реєстрацією <span>у U-Report!</span>
                                p.landing-thanksbox__text Розіграш подарунків відбудеться
                                span.landing-thanksbox__date ДД.ММ.РРРР!
                            .bottom-part
                                h4 Або опитування через Messenger у Facebook
                                a(href="https://m.me/ureportukraine" class="fb-msg-btn" target="_blank" onclick="ga('send', 'event', 'Send_messenger', 'Click');")
                                .steps
                                    .step.step-one
                                        p 1
                                        p Тисни <br> на кнопку
                                    .step.step-two
                                        p 2
                                        p Авторизуйся у Facebook
                                    .step.step-three
                                        p 3
                                        p Надсилай <br>
                                            b "СТАРТ"
                        .right-part: img(src="img/bottom-img.jpg" alt="people" data-zoom-image)
            section.footer-section.fp-auto-height
                footer
                    .section-container.footer-container
                        p &copy; Всі права захищено
                        .logos
                            .smartica
                                a(href="http://smarticaskykillers.com/" target="_blank")
                            .unisef
                                a(href="https://www.unicef.org/ukraine/" target="_blank")

            script(src="/js/video-landing.js")
            script(src="https://www.youtube.com/iframe_api")







        block modals

