
/******************************768px*************************/
@media screen and (max-width: 960px) {
	header,
	.slider-container,
	.columns-block,
	.blog-container,
	.brands,
	.pingbuller,
	.footer-container {
		max-width: 768px;
		margin-left: 20px;
		margin-right: 20px;
	}

	header {
		display: block;
		max-width: 768px;
		margin: 0 auto;
	}


	.logo {
		margin-left: 20px;
		margin-bottom: 40px;
		padding-left: 10px;
	}

	.menu-head {
		margin-left: 20px;
		padding-left: 10px;
	}

	.head-menu-items {
		margin-left: 0;
		margin-right: 8%;
	}

	.slider-block {
		width: 45%;
		height: 185px;
		overflow: hidden;
		text-overflow: clip;
	}

	.slider-img {
		margin-right: 0;
	}

	.slider-h1 {
		font-size: 48px;
	}

	.slider-h2 {
		font-size: 24px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.columns-block,
	.blog-container,
	.blog-updates {
		padding-right: 0;
	}

	.column1,
	.column2,
	.column3 {
		width: 30%;
	}

	.blog-post-radio {
		width: 42%;
	}

	.blog-updates {
		margin-left: 0;
		width: 48%;
	}

	.update {
		height: 48px;
		overflow: hidden;
		text-overflow: clip;
	}

	.brands {
		padding-left: 0;
		padding-right: 0;
		justify-content: space-between;
	}

	.pingbuller-column {
		width: 28%;
	}

	.pingbuller-column--768px {
		display: block;
	}

	.pingbuller-column--desktop {
		display: none;
	}

	footer {
		height: 200px;
		background-position: 0 0;
		background-size: cover;
	}

	.footer-container {
		display: block;
	}

	.head-menu--footer {
		float: left;
		width:  100%;
		margin-top: 50px;
	}

	.designed {
		clear: left;
		float: right;
		margin-top: 40px;
	}
}




/***************************480px*************************/
@media screen and (max-width: 760px) {
	.slider-container,
	.columns-block,
	.blog-container,
	.brands,
	.pingbuller,
	.footer-container {
		width: 100%;
		max-width: 480px;
		margin-left: 20px;
		margin-right: 20px;
	}

	header {
		max-width: 480px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column;
		justify-content: center;
		padding-left: 0;
		position: relative;
		margin: 0 auto;
	}

	.logo {
		margin-bottom: 15px;
		margin-left: 0;
	}

	.nav-button {
		display: block;		
		margin: 0 auto;
		top: 130px;
		height: 45px;
		line-height: 45px;
		width: 245px;
		text-align: center;
		cursor: pointer;
		z-index: 120;
		text-decoration: underline;
		font-size: 24px;
		font-family: "League Gothic";
		font-weight: 200;
		color: #fff;
		text-shadow: none;
	}
	
	nav {
		top: 130px;
		left: 0;
		right: 0;
		max-width: 480px;
		position: absolute;
		display: flex;
		flex-flow: column;
		justify-content: center;
	}

	.menu-head {
		padding-left: 0;
		margin: 0 auto;
		top: 130px;
		width: 245px;
		z-index: 10;
		text-shadow: none;
		float: none;
		background-color: rgba(54, 41, 62, 0.5);
		border-radius: 5px;
	}

	.head-items--head {
		margin-right: 0;
		width: 245px;
		float: none;
	}

	.head-links--head {
		height: 0px;
		line-height: 0px;
		width: 245px;
		display: block;
		overflow: hidden;
		text-align: center;
	}

	.head-links--head:hover {
		border-bottom: 2px solid #edbfff;
		background: rgba(36, 28, 42, 0.7);
	}

	#toggle:checked ~ nav .menu-head {
		z-index: 101;
		width: 245px;
		cursor: pointer;
		border-radius: 5px;
	}
	
	#toggle:checked ~ nav .menu-head .head-links--head {
		box-sizing: content-box;
		width: 245px;
		line-height: 45px;
		height: 45px;
		border-top: 1px solid rgba(91, 67, 102, 0.5);
		border-bottom: 1px solid rgba(53, 39, 61, 0.5);		
	}

	#toggle:checked ~ nav .menu-head .head-links--head:hover {
		width: 245px;
		background: rgba(36, 28, 42, 0.5);
		border-bottom: 2px solid #edbfff;
	}

	.first-link {
		background: transparent;
		border-radius: 5px 5px 0 0;
		border-bottom: none;
	}

	.last-link {
		border-radius: 0 0 5px 5px;
	}

	.slider {
		height: 250px;
		margin-top: 70px;
	}

	.slider-block {
		width: 50%;
		padding-left: 0;
	}

	.slider-h1 {
		font-size: 36px;
	}

	.slider-h2 {
		font-size: 18px;
	}

	.main-text--slider {
		display: none;
	}

	.slider-img {
		height: 310px;
		width: 185px;
		background-size: contain;
		margin-top: -2px;
	}

	.slider-list {
		float: none;
		text-align: center;
		margin-right: 0;
	}

	.slider-button {
		margin-top: 0;
	}

	.columns {
		margin-top: 130px;
	}

	.columns-block {
		flex-flow: column;
	}

	.column1,
	.column2,
	.column3,
	.blog-post-radio,
	.blog-updates {
		width: 100%;
		max-width: 440px;
	}

	.column1,
	.column2 {
		margin-bottom: 25px;
	}

	.column2:before,
	.column3:before {
		background-position: 0 -100px;
		width: 28px;
	}

	.column-text {	
		max-height: 72px;
		overflow: hidden;
		text-overflow: clip;
	}

	.blog-container {
		flex-flow: column;
	}

	.brands {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}

	.brand-link {
		width: 100px;
		margin: 0 4%;
	}

	.brand-1,
	.brand-2,
	.brand-3 {
		margin-bottom: 25px;
	}

	.pingbuller {
		flex-flow: column;
	}

	.pingbuller-column {
		width: 100%;
		margin: 0px 20px 60px 20px;
		max-height: 130px;
	}

	.main-text--pingbuller {
		overflow: hidden;
		text-overflow: clip;
		padding-right: 5%;
	}

	.blog--pingbuller {
		padding-bottom: 0;
	}

	.head-menu--footer {
		margin-left: 20px;
	}

	.head-menu-items--footer {
		margin-right: 5%; 
	}

	.designed {
		clear: both;
		float: none;
		text-align: center;
		margin-top: 100px;
	}
}





/***************************320px**************************/
@media screen and (max-width: 517px) {
	.slider {
		background: transparent;
	}

	.slider-container {
		width: 320px;
		vertical-align: middle;
		margin: 0 auto;
	}

	.slider-block {
		width: auto;
		margin: 50px 12% 0px 12%;
		height: 30px;
		overflow: hidden;
	}

	.slider-img {
		display: none;
	}

	.slider-list {
		margin: 0;
	}

	.columns {
		margin-top: 70px;
	}



	.head-menu--footer {
		display: none;
	}

	.footer-container {
		justify-content: flex-start;
	}

	.designed {
		margin-top: 45px;
	}





}