header {
  width: 940px;
  padding: 40px 0 235px 0;
  margin: 0 auto;

  h1 {
    font-family: $main-font;
    text-transform: uppercase;
    color: $white;
    font-size: 52px;
    text-align: center;
    line-height: 65px;
    margin-bottom: 25px;
  }

  h2 {
    font-family: $p-font;
    color: $white;
    font-size: 24px;
    text-align: center;
    font-weight: 200;
    margin-bottom: 35px;
  }

  .find {
    @extend %btn-text;
    line-height: 40px;
    height: 40px;
    padding: 0 25px;
    background: $theme-color;
    margin: 0 auto;
    border-radius: 30px;
    width: 180px;

    &:hover {
      background: darken($theme-color, 4%);
    }
  }
}

.header-content::after {
  content: '';
  display: block;
  clear: both;
}

.header-logo {
  @extend %logo;
  color: $white;
  float: left;
  line-height: 36px;
}

.header-links {
  float: right;
  margin-bottom: 135px;

  a {
    float: left;
    @extend %btn-text;
    line-height: 36px;
  }

  .log-in {
    margin-right: 18px;
  }

  .sign-up {
    height: 36px;
    line-height: 34px;
    border: 2px solid $white;
    border-radius: 30px;
    padding: 0 18px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 940px) {
  .header-logo {
    padding-left: 40px;
  }

  .header-links {
    padding-right: 40px;
  }
}


@media screen and (max-width: 768px) {
  header {
    padding-top: 20px;
    padding-bottom: 140px;
    position: relative;

    .header-content {
      width: 180px;
      margin: 0 auto;
      margin-bottom: 25px;

      .header-logo {
        display: inline-block;
        text-align: center;
        margin-top: 140px;
        padding-left: 0;
      }
    }

    h1 {
      font-size: 30px;
      line-height: 35px;
    }

    h2 {
      font-size: 18px;
    }

  }


  .header-links {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -78px;
    margin-top: 20px;
    padding-right: 0;
  }







}
